        <!-- content -->
        <section id="content">
        
	
	<div class="main clearfix">

	
		




		<!-- breadcrumbs -->
		<div class="breadcrumbs clearfix">
			
<section class="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="http://www.ville-cayenne.fr" rel="v:url" property="v:title">Accueil</a> &gt; <span class="breadcrumb_last">Videos</span></span></span></section>		</div>
		<!-- end of breadcrumbs -->

		
		
<div class="content-col left">
	<h1 class="page-title">Liste des vidéos  : <em></em></h1>
	<%=render collection: @videos,partial: "video",as: :video%>


	    

	


	    
<%=render "videos/navi"%>
</div>



		


		<aside class="right">
			

<ul>
	<li>
		<div class="search bonjour">
			<form id="recherche" name="recherche" method="get" action="/">
			  <input id="s" name="s" type="text" class="field" value="" placeholder="Rechercher" />
			  <!-- <input type="submit" id="searchsubmit" value="Recherche" class="btn"> -->
			</form>
		</div>
	</li>
		<li>
		<div class="aside-box clearfix">
			<div class="box">
				<h2>Actualités</h2>
								<ul>
<%=render collection: @lastnews, as: :news, partial: "news/actualite_item"%>												

								</ul>
			</div>
			<a class="btn right" href="/actualites/">Plus d’actualités</a>
		</div>
	</li>
	<li>
		<div class="affiche-slider-c">
			<h3 class="roboto_b">à l'Affiche</h3>
						<div id="affiche-slider">
<%=render collection: @alaffiche, partial: "home/lienaffiche", as: :news %>	
			
			    				</div>
			<div id="affiche-nav">
				<div id="thumbs_a">
<%=render collection: @alaffiche, partial: "home/imageaffiche", as: :news %>	

				</div>
				<a class="arrow next" id="affiche-n" href="#">next</a>
				<a class="arrow prev" id="affiche-p" href="#">prev</a>
			</div>
		</div>
	</li>
	<li>
		<div class="fb-widget"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FVille-de-Cayenne%2F233224526723285&amp;width=220&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=142784129097561" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:290px;" allowTransparency="true"></iframe></div>
	</li>
	<li>
		<div class="aside-box clearfix">
			<div class="box">
				<h2>Agenda</h2>
				<ul>
<%=render collection: @someevents, as: :event, partial: "events/otherevent"%>

				</ul>
			</div>
			<a class="btn right" href="/agenda/">Plus d’actualités</a>
		</div>
	</li>
</ul>





		</aside>

	</div>



				</section>
				<!-- end of content -->
