<div class="featured-item">
                <div class="featured-img">
                    <a href="/vie-municipale/<%=news.urltitle%>" title="<%=news.title%>"><img width="532" height="370" alt="<%=news.title%>" title="<%=news.title%>" class="" src="<%=news.image%>" />                    </a>
                </div>
                <div class="featured-txt">
                    <h2><%=news.title1%></h2>
                    <span><%=news.title2%></span>
                </div>
            </div>