<!-- content -->
        <section id="content">
        
	
	<div class="main clearfix">

	
		




		<!-- breadcrumbs -->
		<div class="breadcrumbs clearfix">
			
<section class="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="http://www.ville-cayenne.fr" rel="v:url" property="v:title">Accueil</a> &gt; <span class="breadcrumb_last"><%=@rubrique.title%></span></span></span></section>		</div>
		<!-- end of breadcrumbs -->


		
	<div class="content-col left">
		<h1 class="page-title"><%=@rubrique.title%></h1>


		
		<article class="post">
			<%=@rubrique.description.html_safe%>
		</article>

		<article class="post">
			<div class="addthisZonePost">
	<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
	</div>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50b78ce45daa20f0"></script>
</div>
		</article>


	</div>	
	
	

		


		<aside class="right">
			

<ul>
	<li>
		<div class="search bonjour">
			<form id="recherche" name="recherche" method="get" action="/">
			  <input id="s" name="s" type="text" class="field" value="" placeholder="Rechercher" />
			  <!-- <input type="submit" id="searchsubmit" value="Recherche" class="btn"> -->
			</form>
		</div>
	</li>
				<li>
				<div class="vour-box">
					<h2 class="roboto_b">Voir aussi...</h2>
					<ul class="roboto_m">
						<li><a href="http://www.ville-cayenne.fr/a-la-decouverte-de-cayenne/">Office de Tourisme</a>
<ul><li><a href="http://www.ville-cayenne.fr/patrimoine-historique/">Patrimoine Historique</a>
</li></ul></li><li><a href="http://www.ville-cayenne.fr/le-carnaval-de-guyane-2/">Cayenne, destination carnaval</a>
<ul><li><a href="http://www.ville-cayenne.fr/lexique-sur-le-carnaval-de-guyane/">Lexique sur le carnaval de Guyane</a>
</li><li><a href="http://www.ville-cayenne.fr/12332-2/">Déroulé des évènements du carnaval 2015</a>
</li></ul></li><li><a href="http://www.ville-cayenne.fr/un-peu-dhistoire/">Un peu d'Histoire</a>
<ul><li><a href="http://www.ville-cayenne.fr/iii-siecles-dhistoire/">III siècles d'histoire</a>
</li><li><a href="http://www.ville-cayenne.fr/nos-grands-hommes/">Nos Grands Hommes</a>
</li><li><a href="http://www.ville-cayenne.fr/les-maires-de-cayenne/">Les Maires de Cayenne</a>
</li><li><a href="http://www.ville-cayenne.fr/chroniques-de-m-wacapou/">Chroniques de M. WACAPOU</a>
<ul><li><a href="http://www.ville-cayenne.fr/etres-fabuleux-et-genies-de-guyane/">Etres fabuleux et génies de Guyane</a>
</li><li><a href="http://www.ville-cayenne.fr/le-canarval-de-cayenne/">Le carnaval de Cayenne</a>
</li><li><a href="http://www.ville-cayenne.fr/les-maisons-creoles/">Les maisons créoles</a>
</li><li><a href="http://www.ville-cayenne.fr/le-grand-incendie-de-cayenne-daout-1888/">Le grand incendie de Cayenne  d’août 1888</a>
</li><li><a href="http://www.ville-cayenne.fr/la-fete-annuelle-de-la-ville-de-cayenne/">La fête annuelle de la ville de Cayenne</a>
</li><li><a href="http://www.ville-cayenne.fr/le-mayoury-kwak/">Le Mayoury KWAK</a>
</li></ul></li></ul></li><li><a href="http://www.ville-cayenne.fr/que-faire-a-cayenne/">Que faire à Cayenne</a>
<ul><li><a href="http://www.ville-cayenne.fr/que-faire-a-cayenne/que-faire-a-cayenne-en-1-journee/">QUE FAIRE A CAYENNE ? … EN 1 JOURNEE</a>
</li><li><a href="http://www.ville-cayenne.fr/que-faire-a-cayenne/que-faire-a-cayenne-en-2-jours/">QUE FAIRE A CAYENNE ? … EN 2 JOURS</a>
</li><li><a href="http://www.ville-cayenne.fr/que-faire-a-cayenne/cayenne-by-night/">CAYENNE BY NIGHT</a>
</li><li><a href="http://www.ville-cayenne.fr/marches-2/">Marché des fruits et légumes</a>
</li><li><a href="http://www.ville-cayenne.fr/petit-train-touristique/">Petit Train Touristique</a>
</li></ul></li><li><a href="http://www.ville-cayenne.fr/sites-touristiques/">Sites touristiques</a>
<ul><li><a href="http://www.ville-cayenne.fr/lilet-la-mere/">L'Ilet la Mère</a>
</li><li><a href="http://www.ville-cayenne.fr/les-iles-du-salut/">Les Îles du Salut</a>
</li></ul></li><li><a href="http://www.ville-cayenne.fr/se-deplacer-a-cayenne/">Se déplacer à Cayenne</a>
<ul><li><a href="http://www.ville-cayenne.fr/transports/">Transports</a>
<ul><li><a href="http://www.ville-cayenne.fr/transports-lignes-horaires-tarifs/">Transports : Lignes - Horaires</a>
</li></ul></li></ul></li><li><a href="http://www.ville-cayenne.fr/5678-2/">Location de salles</a>
</li><li><a href="http://www.ville-cayenne.fr/hotels-et-hebergements/">Hôtels et Hébergements</a>
</li><li><a href="http://www.ville-cayenne.fr/les-magasin-touristiques/">Les magasins touristiques</a>
</li><li><a href="http://www.ville-cayenne.fr/restauration/">Restauration</a>
</li><li><a href="http://www.ville-cayenne.fr/la-taxe-de-sejour/"><%=@rubrique.title%></a>
</li><li><a href="http://www.ville-cayenne.fr/plan-de-la-ville/">Plan de la Ville</a>
</li>					</ul>	
				</div>
			</li>
			<li>
		<div class="aside-box clearfix">
			<div class="box">
				<h2>Actualités</h2>
								<ul>
	<%=render collection: @lastnews, as: :news, partial: "news/actualite_item"%>												
							
	</ul>
			</div>
			<a class="btn right" href="/actualites/">Plus d’actualités</a>
		</div>
	</li>
	<li>
		<div class="affiche-slider-c">
			<h3 class="roboto_b">à l'Affiche</h3>
		<div id="affiche-slider">
<%=render collection: @alaffiche, partial: "home/lienaffiche", as: :news %>	

		</div>
			<div id="affiche-nav">
				<div id="thumbs_a">
	<%=render collection: @alaffiche, partial: "home/imageaffiche", as: :news %>	
	</div>
				<a class="arrow next" id="affiche-n" href="#">next</a>
				<a class="arrow prev" id="affiche-p" href="#">prev</a>
			</div>
		</div>
	</li>
	<li>
		<div class="fb-widget"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FVille-de-Cayenne%2F233224526723285&amp;width=220&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=142784129097561" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:290px;" allowTransparency="true"></iframe></div>
	</li>
	<li>
		<div class="aside-box clearfix">
			<div class="box">
				<h2>Agenda</h2>
				<ul>
<%=render collection: @someevents, as: :event, partial: "events/otherevent"%>

				</ul>
			</div>
			<a class="btn right" href="/agenda/">Plus d’actualités</a>
		</div>
	</li>
</ul>





		</aside>

	</div>



				</section>
				<!-- end of content -->